<connectionStrings>
    <add name="MySQLAggregateDb" 
        connectionString="Database=aggregatedb;Data Source=localhost;User Id=admin;Password=Hxx725#5170;Respect Binary Flags=false;" />
    <add name="MySQLFkt" 
        connectionString="Database=foreignkeytest;Data Source=localhost;User Id=admin;Password=Hxx725#5170;Respect Binary Flags=false;" />
</connectionStrings>
